NODE_ENV=development
PORT=4000
DOCKER_HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:password@localhost:5432/restaurant_db?schema=public"
ACCESS_TOKEN_SECRET=change_this_access_secret
REFRESH_TOKEN_SECRET=change_this_refresh_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
GUEST_ACCESS_TOKEN_EXPIRES_IN=15m
GUEST_REFRESH_TOKEN_EXPIRES_IN=7d
INITIAL_EMAIL_OWNER=admin@order.com
INITIAL_PASSWORD_OWNER=123456
DOMAIN=localhost
PROTOCOL=http
UPLOAD_FOLDER=uploads
CLIENT_URL=http://localhost:3000
CLIENT_DOCKER_URL=http://client:3000
GOOGLE_REDIRECT_CLIENT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTHORIZED_REDIRECT_URI=
PRODUCTION=false
PRODUCTION_URL=http://localhost:4000
SERVER_TIMEZONE=Asia/Jakarta
